* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-family: Arial,Verdana,Tahoma;
    
    }

body {
    background-color: #eeeeee;
}

.commentForm {
    margin: 16px auto;
    padding-left:10px ;
}

.commentField {
    border:none;
    height: 26px;
    padding: 4px;
    outline: none;
}

.submitCommentBtn {
    height: 24px;
    padding: 2px 4px;
    margin-left: 5px;
    border:none;
    background-color: #03A9f4;
    color: white;
}

.commentsContainerAll {
margin-top: 20px;;
   
}    


.commentContainer {
background: white;
padding: 10px;

min-height: 100px;
margin:0px 0px 16px 0px;

}

.commentContainer p {
 
}

.date {
    font-size: small;
}


.editCommBtn {
    color:red;
    width:100%;
    text-align: right;
    padding-right: 10px;
    transition: 2s;
}

.updateInputField {
    border:none;
    outline: none;
    padding: 4px;
    background: #eeeeee;
    height: 26px;
}
.submitUpdateBtn {
    height: 24px;
    padding: 2px 4px;
    margin-left: 5px;
    border:none;
    background-color: #03A9f4;
    color: white;

}

.toggleForm {
    display:none;
    transition: 2s;
}