
*{
  box-sizing: border-box; 
}

body {
    background: rgb(221, 207, 207);
    background: #92d8f8;
    background: white;
    box-sizing: border-box;
}


.topImage {
    height: 200px;
    width: 300px;
    margin: 25px auto;
    background-image: url('../images/webDev.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}

/* so when line is 100% width of screen do text-align: 
center, Else if width of div is less than screen do margin: auto */

.containBlogs {
    width:fit-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

.parent {
    position: relative;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(22, 15, 15, 0.26);
    display: inline-block;
    height:260px ;
    width: 250px;
     margin: 15px 15px; 
     
}

.parent h1 {
    background: #03a9f4;
    color: white;
    padding:7px;
    font-size: 18px;
    height: 72px;
    
}

.parent h2 {
  height:190px;

} 

/* had to put that top property on the absolute div
 or else it goes out of line below <p> tags */
.overlay {
    position: absolute;
    z-index: 2;
    top:72px;
    height: 190px;
    width: 250px;
   
    transition-property: background color ;
    transition-duration: 2s;
     background: rgba(252, 251, 251, 1); 
    box-shadow: 0 10px 20px rgba(247, 241, 241, 0.26);
   
}

.overlay:hover {
    background: #92d8f8;
   

  
    
}

.overlay h4 {
    padding: 5px;
    height: 87%;
    font-size: 13px;
    

}

.overlay a {
text-decoration: none ;
padding-left: 67%;
color: red;
transition-property: color;
transition-duration: 1s;

}

.overlay a:hover {
    color:black;
}




                /* /////////////1300 and below ///////////////////////*/

@media (max-width: 1300px) {

    .containBlogs {
        width: 860px;
        margin: auto;
        text-align: center;
    }




}




                   /* ////////////////850 and below////////////////////////// */

@media (max-width: 850px){
    .containBlogs {
        display: flex;
        flex-wrap: wrap;
        width: 560px;
        margin: auto;
    }

    .overlay {
     transition-property: color border;
    transition-duration: 3s;
    
    }

    .overlay h4 {
        padding: 5px;
        height: 83%;
        
    
    }

    .overlay a {
        text-decoration: none ;
        padding-left: 55%;
        padding-bottom: 7px;
        color: red;
        
        }

    .overlay:hover{
        /* border: 1px solid rgb(29, 6, 6); */
        /* color:gold; */
    }





}







                                    /* ////////////////500 and below////////////////////////// */

    @media (max-width: 500px){
    
        .containBlogs {
            display: flex;
            flex-wrap: wrap;
            width: 100vw;
            margin: auto;
    
        }

        .parent {
            width: 85vw;
            margin: 12px auto;
        }

        .overlay {
            width: 85vw;
        }
    
    
    
    } 