* {
    font-family:sans-serif;
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.intro {
    text-align: center;
}

.containBlog {
    padding: 0px 5vw;
}

.containBlog .heading {
    font-size: 35px;
    width:fit-content;
    margin: 12px auto;
    margin-bottom:55px;
}

.containBlog p {
    max-width: 500px;
    font-family: sans-serif;
    font-size: 15px;
    
}

.main {
    margin: 7px;
    line-height: 30px;
}

.thePre {
    width:fit-content;
    height: fit-content;
    font-size: small;
    line-height: 15px;
    font-family:monospace;
    }

    

@media(max-width:550px) {
   
    


    .thePre {
    
    font-size:13px;
   
    }


}